# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.venv/
env/
.env
.env.py

# Django
*.log
media/
staticfiles/
gr8tutor_english_online/settings.py

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
