{% load static %}

<!DOCTYPE html><html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gr8Tutor - English Online Tutoring{% endblock %}</title>
    
        <meta name="description" content="Gr8Tutor - Your go-to platform for online English tutoring. Connect with expert tutors and enhance your language skills
        from the comfort of your home.">
        <meta name="keywords" content="English tutoring, online English lessons, learn English, English tutors, language learning, online education,
        English practice, ESL tutoring">

        <!-- Google Fonts CSS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
        
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
    <header>
        <nav>
            <div>
                <a href="{% url 'index' %}">Gr8Tutor</a>
            </div>
            <div>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'tutors' %}">Tutors</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>
        </nav>
    </header>

    <main class="content">
        {% block content %}
        <!-- Page content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Gr8Tutor - English Online Tutoring. All rights reserved.</p>
    </footer></body></html>
