{% extends "gr8tutor/base.html" %}

{% block title %}Our Tutors - Gr8Tutor{% endblock %}

{% block content %}
<h1>Meet Our Tutors</h1>
<p>Our team of experienced English tutors is ready to help you achieve your language goals.</p>

<section>
    <h2>Tutor Profiles</h2>
    <p>Information about our tutors will be displayed here.</p>
</section>

<h2>Available Tutors</h2>
<ul>
    {% for tutor in tutors %}
    <li>
        {{ tutor.user_profile.user.username }} - {{ tutor.subject }}
        <a href="{% url 'request_tutor' tutor.id %}">Request Tutor</a>
    </li>
    {% empty %}
    <li>No tutors available.</li>
    {% endfor %}
</ul>
{% endblock %}